
.container {
  margin: 0;
  max-width: 100%;
  font-family: Helvetica;
}
/*Navigation Section*/
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid black;
  width: 100%;
}
.logo-section{
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo-section span:nth-child(2){
  color: black;
}
.logo-section span:nth-child(3){
  color: silver;
}
nav ul{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
nav a{
  text-decoration: none;
  color: black;
}
nav li{
  padding-left: 16px;
  padding-right: 16px;
}
/*Banner Section*/
.banner.container{
  background-color: silver;
  height: auto;
  z-index: 0;
}
.banner-section{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.banner-logo{
  width: 60%;
}
.banner-logo img{
  height: auto;
  width: 100%;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;

}
.banner-text {
font-weight: bold;
width: 40%;
margin-left: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-text span{
  margin-bottom: 20px;
}
.banner-text span:nth-child(1){
  font-size: 30px;
}
.banner-text span:nth-child(3){
  font-size: 25px;
}
.banner-text a{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: lightblue;
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  text-decoration: none;

  }
  .info-logo img{
    margin-bottom: 32px;
  }
  .info span{
    margin-bottom: 24px;
  }
  .info span:last-child{
    margin-bottom: 32px;
  }
/*Information Section*/
.content-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.practicing{
  width: 60%;
  height: auto;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 24px;
}
.practicing img{
  width: 100%;
  height: auto;

}
.article-column{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.article-row{
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
}
.article-row img{
  width: 35%;
  height: 100%;
  margin: 16px;
}
.article-row span{
  width: 65%;
  height: auto;
}
.article-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Learning Section*/
.learning{
  background-color: silver;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 32px;
}
.learning-section.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
  background-color: white;
}
.cls img{
  height: auto;
  width: 100%;
}
.column h2{
  margin-top: 16px;
  margin-bottom: 16px;
}
.column span{
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.5;
}

.learning h2{
  display: flex;
  justify-content: center;
}
/*Exhibit*/
.exhibit-section{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
.exb-video{
  height: auto;
  width: 65%;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
}
.exb-column{
  height: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.exb-row{
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  border: 1px solid silver;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.exb-row img{
  width: 35%;
  height: 100%;
}
.exb-row span{
  height: auto;
  width: 65%;
}
.exb-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exhibit{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
align-items: center;
}
.exhibit h2{
margin-top: 32px;
}
