
.container {
  margin: 0;
  max-width: 100%;
  font-family: Helvetica;
  font-family: 'Spectral', serif;
  font-family: 'Roboto', sans-serif;

}
#head{
  font-weight: bold;
  font-size: 32px;
}
/*Navigation Section*/
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;

}
.logo-section{
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo-section span:nth-child(2){
  color: black;
}
.logo-section span:nth-child(3){
  color: #c0b283;
}
.logo-section span{
  margin: 0;
}
nav ul{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
nav a{
  text-decoration: none;
  color: #373737;
}
nav li{
  padding-left: 16px;
  padding-right: 16px;
}
#mobile-nav{
  display: none;
}
@media only screen and (max-width: 480px){
 #mobile-nav{
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin: 0;
   height: 64px;
 }
 #reg-nav{
   display: none;
 }
 .logo-section{
   display: none;
 }
}
/*Banner Section*/
.banner.container{
  background-color: #f4f4f4;
  height: auto;
  z-index: 0;
  padding-top: 16px;
}
.banner-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 24px;
  padding-top: 32px;
}

.banner-logo img{
  height: auto;
  width: 100%;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;

}
.banner-text {
font-weight: bold;
width: 40%;
margin-left: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: #373737;
}
.banner-text span{
  margin-bottom: 20px;
  color: #373737
}
.banner-text span:nth-child(1){
  font-size: 30px;
}
.banner-text span:nth-child(3){
  font-size: 25px;
}
.banner-text a{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #c0b283;
  color: #373737;
  width: 80%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  }
  .banner-text a:hover{
    color: #c0b283;
    background-color: #373737;
  }
  .info-logo img{
    margin-bottom: 32px;
  }
  .info span{
    margin-bottom: 24px;
  }
  .info span:last-child{
    margin-bottom: 32px;
  }
  .mobile-banner-section{
    display: none;
  }
  @media only screen and (max-width: 480px){
    .banner-section{
      display: flex;
      flex-direction: column;
    }
    .banner-section img{
      width: 100%;
      margin: 0;

    }
    .banner-text{
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
    .banner-text a{
      margin-left: auto;
      margin-right: auto;
    }
  }
/*Information Section*/
.content-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.practicing{
  width: 60%;
  height: auto;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 24px;
}
.practicing img{
  width: 100%;
  height: auto;
}
.practicing-text {
  display: flex;
  flex-direction: column;
  color: #373737;
}
.practicing-text span:nth-child(1n+1){
  margin-bottom: 24px;
}
.practicing-text span:nth-child(1){
  margin-top: 32px;
  font-weight: bold;
  font-size: 35px;
}
.article-column{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.article-row{
  display: flex;
  flex-direction: row;
  border: 1px solid #f4f4f4;
}
.article-row:hover{
  background-color: #f4f4f4;
}
.article-text span:nth-child(1n+1){
  margin: 8px;
}

.article-row img{
  width: 35%;
  height: 100%;
  margin: 16px;
}
.article-row span{
  width: 65%;
  height: auto;
}
.article-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
}
.article-text span:first-child{
  font-weight: bold;
  font-size: 25px;
}
.article-text span:last-child{
  color: blue;
}
.mobile-photo{
  display: none;
}
@media only screen and (max-width: 480px){
.practicing{
  display: none;
}
.article-column{
  width: 100%;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.article-column img{
  width: 100%;
  height: auto;
}
.article-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.reg-photo{
  display: none;
}
.mobile-photo {
  display: flex;
  width: 100%;
}
}
/*Learning Section*/
.column h2{
  font-weight: bold;
  font-size: 20px;
}
.learning{
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 32px;
}
.learning-section.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}
.column {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
  background-color: #c0b283;
}
.column:hover{
  color: #c0b283;
  background-color: #373737;
}
.cls img{
  height: auto;
  width: 100%;
}
.column h2{
  margin-top: 16px;
  margin-bottom: 16px;
}
.column span{
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.5;
}

.learning h2{
  display: flex;
  justify-content: center;
}
.cls ,span, h2{
  margin: 16px;
}
@media only screen and (max-width: 480px){
  .cls img{
    display: none;
  }
  .cls span{
    display: none;
  }
  .learning-section.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .column{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/*Exhibit*/
.exhibit-section{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
.exb-video{
  height: auto;
  width: 65%;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.exb-video video{
  width: 100%;
  height: auto;
}
.exb-column{
  height: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.exb-column span:first-child{
  font-weight: bold;
  font-size: 20px;
}
.exb-row{
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  border: 1px solid silver;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.exb-row:hover{
  background-color: #f4f4f4;
}
.exb-row img{
  width: 35%;
  height: 100%;
}
.exb-row span{
  height: auto;
  width: 65%;
}
.exb-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.exb-text span:nth-child(1n+1){
  margin-bottom: 8px;
}
.exhibit{
  display: flex;
  flex-direction: column;
align-items: center;
}
.exhibit h2{
margin-top: 32px;
}
.exb-video span:nth-child(2){
  margin-top: 24px;
  font-weight: bold;
  font-size: 24px;
}
@media only screen and (max-width: 480px){
  .exb-column{
    display: none;
  }
  .exb-video span{
    display: none;
  }
  .exhibit-section{
    width: 100%;
    height: auto;
  }
.exhibit-section video{
  width: 100%;
  height: auto;
}
.exb-video{
  width: 100%;
  height: auto;
}
.exb-video video{
  width: 100%;
  height: auto;
}
}
/*Footer*/
footer{
  width: 100%;
  border-top: 1px solid gray;
}
.footer-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
}
